@font-face{
   font-family: 'pixel-twist';
   src: url('font/font.ttf');
   src: url('font/font.ttf') format('embedded-opentype'),
         url('font/font.ttf') format('woff'), 
         url('font/font.ttf')  format('truetype'), 
}

h1 {
   font-family: 'pixel-twist', cursive;
   color: red;
   background-color: white;
   width: 512px;
   height: 45px;
   margin-bottom: 5px;
   border-radius: 5px;
   
}

.grid-container {
   display: grid;
   background-color: #ffffff;
   border-radius: 5px;
   
}

.container {
   
   width: 100%;
}

.btn {
   background-color: #2196F3; 
   border: none;
   color: white;
  
   padding: auto;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; 
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 3px;
}

.btn-blue {
   background-color: white; 
   color: black; 
  
}

.btn-blue:hover {

   color: white;
}

#colorPicker {
   width: 40px;
   height: 18px;
}


body {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#app { 
   height: 100%;
   width: 100%;
   left:0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
   background-size: 1800% 1800%;
   -webkit-animation: rainbow 18s ease infinite;
   -z-animation: rainbow 18s ease infinite;
   -o-animation: rainbow 18s ease infinite;
   animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@keyframes rainbow { 
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}